.briefing__container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.briefing__cabecalho {
    position: relative;
    border-bottom: 1px solid var(--cinza);
}

.briefing__cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 9rem;
}

.briefing__cabecalho__container__logo {
    align-items: center;
    width: 7rem;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

form label {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 2rem 0 0 0;
    text-align: center;
}

input {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--cinza);
    font-family: var(--fonte-principal);
}

.briefing__botao {
    color: var(--branco);
    background: var(--vinho);

    border: 1px solid var(--vinho);
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    width: 15rem;
    margin: 0 auto;
    transition: 0.5s;
    cursor: pointer;
    margin: 2rem auto;
}

.briefing__botao:active {
    background-color: var(--azul);
    border-color: var(--azul);
}

.teste-nao-exibir {
    display: none;
}


@media screen and (min-width: 720px) {
    .briefing__container {
        max-width: 700px;
    }

    .briefing__cabecalho__container {
        justify-content: space-around;
        height: 11rem;
    }

    .briefing__cabecalho__container__logo {
        width: 9rem;
    }

}