.sobre-mim {
  text-align: center;
  padding-bottom: 2rem;
  
}

.sobre-mim__imagem {
  width: 300px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.539);
  margin-bottom: 2rem;
}

.sobre-mim__botao {
  display: block;
  border: 1px solid var(--vinho);
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  font-family: var(--fonte-principal);
  color: var(--vinho);
  background: var(--branco);
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  width: 15rem;
  margin: 1rem auto 0 auto;
}

.concurso__imagem {
  width: 22rem;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.447);
  transition: 0.5s;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .sobre-mim__container, .concurso, .revista {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .sobre-mim {
    
    padding: 3rem 0;
  }
  
  .sobre-mim__imagem {
    margin-bottom: 4rem;
  }
  
  .sobre-mim__botao:hover {
    background: var(--vinho);
    color: var(--branco);
  }

  .sobre-mim__botao:active {
    opacity: 0.7;
    
  }

  .concurso__imagem:hover {
    transform: scale(1.1);
  }

  
}