:root {
  --azul: #8A5930;
  --azul-claro: #8F8079;
  --azul-escuro: #634B3C;
  --vinho: #716662;
  --vinho-claro: #A77E2F;
  --cinza: #dad8d8;
  --cinza-claro: #f0f0f0;
  --branco: white;

  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-especial: 'Oooh Baby', cursive;
}
